SENTRY_DSN = https://<key>@sentry.io/<project>

UDP_PORT = 41234

STORAGE_DRIVER = dummy

ELASTICSEARCH_URL = http://localhost:9200
ELASTICSEARCH_INDEX = drops

BUFFER_MAX_SIZE = 9000
BUFFER_FLUSH_INTERVAL_MS = 1000
